<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>UberMacSDK.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>UberiOSSDK.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>829B68F81B62828700E3A020</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>829B69021B62828700E3A020</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>829B69151B6282A900E3A020</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>829B691E1B6282A900E3A020</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
